body{
    background-color: #242424;    
    margin: 0;
    color: white;
}

h1{
   text-align: center;
}

h2{
    text-align: center;
}

nav {
    background: linear-gradient(to bottom, black, #555555);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    filter: drop-shadow(0 0 15px green);
}

nav div {
    width: 80px;
    height: 80px;
}

nav img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    height: 100%;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    transition: background-color 0.5s ease;
}

nav a:hover {
    background-color: green;
    background: linear-gradient(15deg, green, black 200%);
}

.Home {
    margin-top: 200px;
}

.About {
    margin-top: 945px;
    text-align: center;
    padding: 0 300px;
}

video { 
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    position: a;
    width: 900px; 
    padding: 50px; 
    background-color:green; 
    border:10px white solid; 
    box-shadow: 10px 10px 5px black; 
}

h1{
    margin-top: 200px;
}

input[type=text],[type=email],[type=text],select, textarea {
    font-family: 'Nunito', sans-serif;
    border: 3px solid rgb(0, 155, 0);
    display: block;
    width: 85%;
    box-sizing: border-box;
    margin-top: ;
    margin: auto;
    background-color: #242424;
    position: 
}

input[type=message], select {
    display: block;
    width: 85%;
    height: 100%;
    padding: 12px 20px;
    border: 1px solid rgb(124, 16, 231);
    border-radius: 8px;
    box-sizing: border-box;
    margin:auto;
    font-family: 'Nunito', sans-serif;
}

input[type=submit],select{
    background-color: rgb(51, 47, 47);
    color: white;
    font-family: 'Nunito', sans-serif;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}


textarea{
    resize: none;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #ffffff;
}

input {
    width: 100px;
    line-height: 25px;
    margin-right: auto;
    margin-left:auto;
    margin-top: 5%;
    display: block;
    color:rgb(244, 236, 236);    
}

footer {
    position: fixed;
    bottom: 0;
    padding: 0 10px;
}